@model NewsEngineTemplate.Models.NewsCategory

<div class="col">
    <div class="d-flex flex-row justify-content-between">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
            @Model.Title
        </h4>

        <div>
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <div><a class="btn btn-success mr-2" href="/news/new"><i class="fas fa-plus"></i></a></div>

                <div class="dropdown show">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownSort" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-sort"></i>
                    </a>

                    <div class="dropdown-menu bg-dark" aria-labelledby="dropdownSort">
                        <a class="dropdown-item text-light d-flex justify-content-between" href="/categories/category/@Model.CategoryID/date-asc"><span>Sort by date</span> <i class="fas fa-sort-up align-self-end"></i></a>
                        <a class="dropdown-item text-light d-flex justify-content-between" href="/categories/category/@Model.CategoryID/date-desc"><span>Sort by date</span> <i class="fas fa-sort-down align-self-center"></i></a>
                        <a class="dropdown-item text-light d-flex justify-content-between" href="/categories/category/@Model.CategoryID/name-asc"><span>Sort by name</span> <i class="fas fa-sort-up align-self-end"></i></a>
                        <a class="dropdown-item text-light d-flex justify-content-between" href="/categories/category/@Model.CategoryID/name-desc"><span>Sort by name</span> <i class="fas fa-sort-down align-self-center"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ul class="list-group mb-3" id="reservations-content">
        @foreach (var article in ViewBag.news)
        {
            <li class="article-container list-group-item d-flex justify-content-between lh-condensed bg-dark">
                <div class="article-content">
                    <h4 class="mb-1 article-title">@article.Title</h4>
                    <small class="article-content">
                        @article.Content.Substring(0, Math.Min(article.Content.Length, 600))...
                    </small>
                    <h6 class="mt-1 article-id mt-3">@article.PublishDate | Bogdan Calina</h6>

                </div>
                <div class="reservation-buttons">
                    <a class="btn btn-outline-dark btn-lg" href="/news/edit/@article.ID">
                        <i class="fas fa-edit"></i>
                    </a>

                    <a class="btn btn-outline-dark btn-lg" href="/news/article/@article.ID">
                        <i class="fas fa-arrow-right"></i>
                    </a>
                </div>
                <input type="checkbox" name="delete" class="delete-reservation-checkbox" style="display: none;">
            </li>
        }
    </ul>
</div>
