@model NewsEngineTemplate.Models.NewsCategory

@if (ViewData.ContainsKey("notification"))
{
    <h3 class="alert alert-@ViewBag.notificationClass" role="alert">@ViewBag.notification</h3>
    <br />
}

<div class="col">
    <div class="d-flex flex-row justify-content-between">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
            @Model.Title
        </h4>

        <div>
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <div><a class="btn btn-outline-info" href="/categories"><i class="fas fa-list-alt"></i> Categories</a></div>

                @if (ViewBag.isAdmin || ViewBag.isEditor)
                {
                    <div class="ml-2"><a class="btn btn-outline-info mr-2" href="/news/new"><i class="fas fa-plus"></i> New article</a></div>
                }

                <div class="dropdown show">
                    <a class="btn btn-outline-info" role="button" id="dropdownSort" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-sort"></i> Sort by
                    </a>

                    <div class="dropdown-menu bg-dark" aria-labelledby="dropdownSort">
                        <a class="dropdown-item text-light bg-dark d-flex justify-content-between" href="/categories/category/@Model.CategoryID/date-asc"><span>Sort by date</span> <i class="fas fa-sort-up align-self-end"></i></a>
                        <a class="dropdown-item text-light bg-dark d-flex justify-content-between" href="/categories/category/@Model.CategoryID/date-desc"><span>Sort by date</span> <i class="fas fa-sort-down align-self-center"></i></a>
                        <a class="dropdown-item text-light bg-dark d-flex justify-content-between" href="/categories/category/@Model.CategoryID/name-asc"><span>Sort by name</span> <i class="fas fa-sort-up align-self-end"></i></a>
                        <a class="dropdown-item text-light bg-dark d-flex justify-content-between" href="/categories/category/@Model.CategoryID/name-desc"><span>Sort by name</span> <i class="fas fa-sort-down align-self-center"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ul class="list-group mb-3">
        @foreach (NewsEngineTemplate.Models.News article in ViewBag.news)
        {
            @Html.Partial("ArticlePreviewPartial", article, ViewData);
        }
    </ul>
</div>
