@{
    ViewBag.Title = "All users";
}

<div class="col">
    <div class="d-flex flex-row justify-content-between">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
            All users
        </h4>
    </div>
    <div class="list-group-item bg-dark">

        @foreach (NewsEngineTemplate.Models.ApplicationUser user in ViewBag.UsersList)
        {
            @Html.Partial("UserPreviewPartial", user)
        }
    </div>
</div>
