@if (ViewData.ContainsKey("notification"))
{
    <h3 class="alert alert-@ViewBag.notificationClass" role="alert">@ViewBag.notification</h3>
}

<div class="col">
    <div class="d-flex flex-row justify-content-between">
        <div>
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <a class="btn btn-outline-info" href="/news/new"><i class="fas fa-plus"></i> New article</a>
                <a class="btn btn-outline-info mx-2" href="/categories"><i class="fas fa-list-alt"></i> Categories</a>
            </h4>
        </div>
    </div>
    <ul class="list-group mb-3">
        @foreach (NewsEngineTemplate.Models.News article in ViewBag.news)
        {
            @Html.Partial("ArticlePreviewPartial", article, ViewData);
        }
    </ul>
</div>
