
<form method="post" action="/categories/new" class="form-group" style="margin:1em auto; position: relative; height: 10em; width: 100%">
    <div>
        <label>Title</label><br />
        <input type="text" name="Title" />
    </div>
    <div>
        <label>Description</label><br />
        <textarea name="Description"></textarea>
    </div>
    <div>
        <button type="submit" class="btn btn-sm btn-success">Publish category</button>
    </div>
</form>