<div class="panel-body bg-info">
    <h1 class="text-center">@ViewBag.category.Title</h1>

    <div class="col">
        <div class="col">
            <p>@ViewBag.category.Description</p>
        </div>
        <a href="/categories/edit/@ViewBag.category.CategoryID" class="btn btn-warning">Edit category</a>
    </div>
</div>