@model NewsEngineTemplate.Models.NewsCategory

<form method="post" action="/categories/edit/@Model.CategoryID" class="form-group" style="margin:1em auto; position: relative; width: 100%">
    @Html.HttpMethodOverride(HttpVerbs.Put)

    <div class="form-group row">
        <label class="col-2 col-form-label">Title</label>
        <div class="col-10">
            <input class="form-control category-title-input" type="text" value="@Model.Title" name="Title">
        </div>
    </div>
    <label>Description</label><br />
    <textarea name="Description" class="form-control category-description-input">@Model.Description</textarea>
    <div>
        <button type="submit" class="btn btn-sm btn-success mt-2">Update category</button>
    </div>
</form>

<form method="post" action="/categories/delete/@Model.CategoryID" class="form-group">
    @Html.HttpMethodOverride(HttpVerbs.Delete)
    <button type="submit" class="btn btn-sm btn-danger">Delete category</button>
    @*
        #TODO: Bootstrap modal to confirm action
        #TODO: Category edit history
    *@
</form>
